<div class="h-44">
    <mat-accordion class="bg-slate-700">
        <mat-expansion-panel *ngFor="let a of [].constructor(10); index as i" class="bg-slate-600">
            <mat-expansion-panel-header>
                <mat-panel-title class="text-gray-300">TypeScript {{ i + 1 }}</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="ep-content flex flex-wrap">
                <div class="px-2 bg-orange-500 m-2 text-orange-700 text-lg" cdkDrag *ngFor="let a of [].constructor(10); index as i">{{ i + 1 }}</div>
                <div class="bg-orange-900" *cdkDragPreview><mat-icon>clear</mat-icon></div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
