<p-toolbar class="p-0">
    <div class="p-toolbar-group-left">
        <button pButton pRipple type="button" icon="pi pi-bars" class="p-button-rounded p-button-text"></button>
        <h1>pManager</h1>
        <!-- <p-splitButton label="Save" icon="pi pi-check" [model]="items" styleClass="p-button-warning"></p-splitButton> -->
    </div>

    <div class="p-toolbar-group-right">
        <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded"></button>
        <button pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-secondary"></button>
        <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success"></button>
        <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-info"></button>
        <button pButton pRipple type="button" icon="pi pi-bell" class="p-button-rounded p-button-warning"></button>
        <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded p-button-help"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
    </div>
</p-toolbar>
<p-splitter class="min-h-screen" [panelSizes]="[5, 95]">
    <ng-template pTemplate>
        <!-- <p-tree [value]="files"></p-tree> -->
        <p-tieredMenu [model]="items"></p-tieredMenu>
    </ng-template>
    <ng-template pTemplate> Panel 2 </ng-template>
</p-splitter>
<!-- <ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<ng-keyboard-shortcuts-help [key]="'?'" [closeKey]="'escape'" [title]="'Help'"></ng-keyboard-shortcuts-help> -->
