<div class="flex flex-col h-screen justify-between bg-slate-700 overflow-hidden">
    <div>
        <actionBar class="bg-sky-900 text-stone-400 shadow-md shadow-black"></actionBar>
        <div class="" id="cArea">
            <splitterUtil part1="16" part2="{{ 100 - 16 }}">
                <sideExplorer part1></sideExplorer>
                <workBench part2></workBench>
            </splitterUtil>
        </div>
    </div>
    <div class="bg-sky-600 text-sky-200">___________________footer</div>
</div>
